<div>
<%= form_for :note, local: true do |form| %>
  <div class="mb-3">
    <%= form.text_area :content, required: true, placeholder: "Enter your note message", class: "form-control", rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
<div>
