<div class="bg-white rounded border shadow-sm">
  <div class="p-4 border-bottom">
    <div class="row align-items-center">
      <div class="mb-2 col-12 col-lg-2 align-self-start fw-bold text-center">Note ID: <%= note.id %></div>
        <div class="col-12 col-lg-8">
        <p class="lh-lg"><%= note.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>
